body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ___________here_starts_the_grid______________ */
body{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px; */
  grid-template-areas:
    "h h h h h h"
    "b b b b b b"
    "p p p p p p"
    "a a a a a a"
    "s s s s s s"
    "c c c c c c";
}

.header{
  grid-area: h;

  background-image: url("images/background.png");
  background-size: cover;
  height: 70vh;
}

.brand{
  grid-area: b;

  height: 30vh;
  margin: 0 auto;
  margin-bottom: 100px;
}

.projects{
  grid-area: p;

  height: 150vh;
 }

.about{
  grid-area: a;

  height: 50vh;
  display: flex;
}

.skills{
  grid-area: s;

  height: 80vh;
  /* display: flex; */
  margin-bottom: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.contact{
  grid-area: c;

  background-color: black;
  height: 20vh;
}

/* ___________here_starts_home_page______________ */
.initials{
  font-family: 'Condiment', cursive;
  font-size: 25px;
  margin: 15px 35px 15px 35px;
  border: 2px solid white;
  display: inline-block;
  padding-right: 5px;
  padding-top: 5px;
  border-radius: 50%;
  color: white;
}

nav{
  background: rgba(0,0,0,0.8);
  height: 80px;
  width: 100%;
  position: fixed;
}

.nav-links{
  text-decoration: none;
  color: white;
  margin: 40px 12px;
  padding: 8px 5px;
}

.nav-links:hover{
  color: black;
  background-color: white;
  padding: 8px 5px;
  border-radius: 15px;
}

.name{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  text-align: center;
  margin-top: 200px;
}

.title{
  text-align: center;
  color: white;
  font-family: 'Old Standard TT', serif;
  font-size: 30px;
}

/* ___________here_starts_brand_section______________ */
.brand-statment{
  max-width: 1100px;
  margin: 30px 50px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', serif;
  /* color: #7DCFB6; */
  color: rgb(36, 37, 37);
}

/* ___________here_starts_project_page______________ */
.project-img{
  height: 200px;
  width: 250px;
  border-radius: 15px;
  border: solid 2px rgb(85, 231, 250);
  margin-right: 10px;
 }

.project-discription{
  text-align: center;
  color: rgb(197, 88, 148);
  /* padding: 20px; */
  margin-left: 10px;
  font-size: 30px;
  font-weight: 300;
  line-height: 25px;
}
.project-box{
  width: 700px;
  height: 250px;
  display: flex;
  margin: 0 auto;
}

#move-down{
  margin-top: 100px;
}

/* ___________here_starts_about_page______________ */
.about-flex{
  display: flex;
  margin-bottom: 50px;
}

.image-of-me{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid #7DCFB6;
  margin: 100px 0 0 30px;
  flex-direction: row;

}

.about-statment{
  max-width: 1100px;
  margin: 150px 40px 0px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', serif;
  /* color: #7DCFB6; */
  color: rgb(36, 37, 37);
  flex-direction: row;
}

.about-heading{
  position: relative;
  bottom: 30px;
}

/* ___________here_starts_skills_page______________ */
.skills-box{
  margin-top: 100px;
}

.skill-img{
  height: 100px;
  width: 100px;
  margin: 10px 10px;
  border-radius: 15px;
  border: 2px solid rgb(216, 95, 132);
}

/* ___________here_starts_contact_page______________ */
.contact-img{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 15px;
  margin: 50px 10px;
 }

 .footer{
   color: white;
 }


